@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/reset-styles";
@import "./components/common";
@import "./components/section";
@import "./components/buttons";
@import "./components/logo";
@import "./components/header";
@import "./components/hero";
@import "./components/feature";
@import "./components/directions";
@import "./components/team";
@import "./components/social-networks";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-contacts";
@import "./components/footer-address";
@import "./components/form-footer";








.buttons-list {
  @extend %list;
  @extend %flex-centered;

  margin-bottom: 50px;
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

.card-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.сard-list__item {
  width: calc((100% - 2 * 30px) / 3);
}

.сard-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.сard-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.card-list__link {
  display: block;
  text-decoration: none;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-work__thumb {
  position: relative;
  overflow: hidden;
}

.card-work__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list__link:hover .card-work__overlay,
.card-list__link:focus .card-work__overlay {
  transform: translateY(-100%);
}

.card-work__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: $primaryWhiteColor;
}

.card-work__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid#eeeeee;
  border-right: 1px solid#eeeeee;
  border-bottom: 1px solid#eeeeee;

  background-color: $primaryWhiteColor;
}

.card-work__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $titleColor;
}

.card-work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $textPrimaryColor;
}
/* PORTFOLIO END*/

/* FOOTER FORM */



/*HERO MODAL WINDOW */
.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-backdrop.is-hidden .form {
  transform: translate(-50%, -50%) scale(0.9);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: $primaryBorderRadius;

  background-color: $primaryWhiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50% -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn {
  position: absolute;
  top: 8px;
  right: 8px;
// //////////////////////////
  display: inline-flex;
  align-items: center;
  justify-content: center;
// /////////////////////
  width: 30px;
  height: 30px;
  border-radius: $fullRoundBorderRadius;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-btn__img {
  fill: $titleColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover .form-btn__img,
.form-btn:focus .form-btn__img {
  fill: $accentColor;
}

.form__appeal {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $titleColor;
}

.form-field {
  display: block;
  margin-bottom: 10px;

  & textarea::placeholder{
    color: rgba(117, 117, 117, 0.5);
  }
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  border-radius: $primaryBorderRadius;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }
}

.form__input-area {
  position: relative;
  display: block;
}

.form__img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: $titleColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__img,
.form__input:focus + .form__img {
  fill: $accentColor;
}

.form__cover {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: $primaryWhiteColor;
  pointer-events: none;
}

.form__comment {
  display: block;
  padding: 12px 16px;
  height: 120px;
}

.form-checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 30px;
}

.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  align-items: center;

  &::before{
    content: "";
    display: inline-flex;
    margin-left: 12px;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    background-image: url("../images/svg-otpimize/checkbox.svg");
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before{
    box-shadow: 0 0 0 1px $accentColor;
  }
}

.form-checkbox__input:focus + .form-checkbox__label::before {
  box-shadow: 0 0 0 1px $accentColor;
}

.form-checkbox__input:checked + .form-checkbox__label::before {
  background-color: $accentColor;
  border-color: $accentColor;
  background-image: url("../images/svg-otpimize/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  box-shadow: none;
}

.form__btn-wrapper {
  @extend %flex-centered;
}

.form-checkbox__link {
  color: $accentColor;
}

/* END */
