
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $titleColor;
    text-decoration: none;
  
    &--blue{
      color: $accentColor;
    }
  
    &--white{
      color: $primaryWhiteColor;
    }
  }